<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="nivantis-web">
    <meta name="msapplication-TileImage" content="link to the image in static folder">
    <meta name="msapplication-TileColor" content="#FFF">
    <link rel="apple-touch-icon" href="link to the smaller icon">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="manifest" href="/manifest.json"/>
    <title>nivantis-web</title>
  </head>
  <body style="padding: 0; margin: 0;">
    <noscript>
      <strong>We're sorry but nivantis-web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
