<template>
  <div class="calculator">
    <div role="tablist">
      <b-card class="mb-0">
        <b-card-header header-tag="header" class="p-0 border-0" role="tab">
          <h5>
            <b-button v-b-toggle.discountRate variant="info" block href="#">
              Taux de remise
            </b-button>
          </h5>
        </b-card-header>

        <b-collapse id="discountRate" visible accordion="calcul-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              <b-form-group>
                <label for="rawPurchasePrice1" >Prix d'achat brut:</label>
                <b-form-input id="rawPurchasePrice1" @keypress="isNumber($event); getDiscountRate()" @keyup="isNumber($event); getDiscountRate()" v-model="values.rawPurchasePrice1"/>

                <label for="netPurchasePrice1" >Prix d'achat net:</label>
                <b-form-input id="netPurchasePrice1" @keypress="isNumber($event); getDiscountRate()" @keyup="isNumber($event); getDiscountRate()" v-model="values.netPurchasePrice1"/>
                <label for="res1" >Résultat:</label>
                <b-form-input readonly id="res1" v-model="total.discountRate"/>
              </b-form-group>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card class="mb-0">
        <b-card-header header-tag="header" class="p-0 border-0" role="tab">
          <h5>
            <b-button v-b-toggle.netPurchasePrice variant="info" block href="#">
              Prix d'achat net
            </b-button>
          </h5>
        </b-card-header>

        <b-collapse id="netPurchasePrice" accordion="calcul-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              <b-form-group>
                <label for="rawPurchasePrice2" >Prix d'achat brut:</label>
                <b-form-input id="rawPurchasePrice2" @keypress="isNumber($event); getNetPurchasePrice()" v-model="values.rawPurchasePrice2"/>

                <label for="discountRate2" >Taux de remise:</label>
                <b-form-input id="discountRate2" @keypress="isNumber($event); getNetPurchasePrice()" v-model="values.discountRate2"/>
                <label for="res2" >Résultat:</label>
                <b-form-input readonly id="res2" v-model="total.netPurchasePrice"/>
              </b-form-group>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card class="mb-0">
        <b-card-header header-tag="header" class="p-0 border-0" role="tab">
          <h5>
            <b-button v-b-toggle.netSellingPrice variant="info" block href="#">
              Prix de vente net
            </b-button>
          </h5>
        </b-card-header>

        <b-collapse id="netSellingPrice" accordion="calcul-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              <b-form-group>
                <label for="netPurchasePrice3" >Prix d'achat net:</label>
                <b-form-input id="netPurchasePrice3" @keypress="isNumber($event); getNetSellingPrice()" v-model="values.netPurchasePrice3"/>
                <label for="multiplyingFactor3" >Coefficient multiplicateur:</label>
                <b-form-input id="multiplyingFactor3" @keypress="isNumber($event); getNetSellingPrice()" v-model="values.multiplyingFactor3"/>
                <label for="res3" >Résultat:</label>
                <b-form-input readonly id="res3" v-model="total.netSellingPrice"/>
              </b-form-group>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>

      <b-card class="mb-0">
        <b-card-header header-tag="header" class="p-0 border-0" role="tab">
          <h5>
            <b-button v-b-toggle.multiplyingFactor variant="info" block href="#">
              Coefficient multiplicateur
            </b-button>
          </h5>
        </b-card-header>

        <b-collapse id="multiplyingFactor" accordion="calcul-accordion" role="tabpanel">
          <b-card-body>
            <b-card-text>
              <b-form-group>
                <label for="netSellingPrice4" >Prix de vente net:</label>
                <b-form-input id="netSellingPrice4" @keypress="isNumber($event); getMultiplyingFactor()" v-model="values.netSellingPrice4"/>
                <label for="netPurchasePrice4" >Prix d'achat net:</label>
                <b-form-input id="netPurchasePrice4" @keypress="isNumber($event); getMultiplyingFactor()" v-model="values.netPurchasePrice4"/>
                <label for="res4" >Résultat:</label>
                <b-form-input readonly id="res4" v-model="total.multiplyingFactor"/>
              </b-form-group>
            </b-card-text>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      values: {
        netPurchasePrice1: null,
        rawPurchasePrice1: null,
        rawPurchasePrice2: null,
        discountRate2: null,
        netPurchasePrice3: null,
        multiplyingFactor3: null,
        netSellingPrice4: null,
        netPurchasePrice4: null,
      },
      total:{
        discountRate: null,
        netPurchasePrice: null,
        netSellingPrice: null,
        multiplyingFactor: null,
      }
    }
  },
  computed: {

  },
  methods: {
    getDiscountRate() {
      if (this.values.netPurchasePrice1 != null)
        var netPurchasePrice1 = parseInt(this.values.netPurchasePrice1.replace(',', '.'), 10)
      if (this.values.rawPurchasePrice1 != null)
        var rawPurchasePrice1 = parseInt(this.values.rawPurchasePrice1.replace(',', '.'), 10)

      if (typeof netPurchasePrice1 === 'number' &&
        typeof rawPurchasePrice1 === 'number' &&
        rawPurchasePrice1 !== 0) {
        this.total.discountRate = (1 - netPurchasePrice1 / rawPurchasePrice1) * 100
        console.log(this.total.discountRate)
      } else {
        this.total.discountRate = null
      }
    },
    getNetPurchasePrice() {
      if (this.values.rawPurchasePrice2 != null)
        var rawPurchasePrice2 = parseInt(this.values.rawPurchasePrice2.replace(',', '.'), 10)
      if (this.values.discountRate2 != null)
        var discountRate2 = parseInt(this.values.discountRate2.replace(',', '.'), 10)

      if (typeof rawPurchasePrice2 === 'number' &&
        typeof discountRate2 === 'number') {
        this.total.netPurchasePrice = rawPurchasePrice2 * (1 - discountRate2)
      } else {
        this.total.rawPurchasePrice = null
      }
    },
    getNetSellingPrice() {
      if (this.values.netPurchasePrice3 != null)
        var netPurchasePrice3 = parseInt(this.values.netPurchasePrice3.replace(',', '.'), 10)
      if (this.values.multiplyingFactor3 != null)
        var multiplyingFactor3 = parseInt(this.values.multiplyingFactor3.replace(',', '.'), 10)

      if (typeof netPurchasePrice3 === 'number' &&
        typeof multiplyingFactor3 === 'number') {
        this.total.netSellingPrice = netPurchasePrice3 * multiplyingFactor3
      } else {
        this.total.netSellingPrice = null
      }
    },
    getMultiplyingFactor() {
      if (this.values.netSellingPrice4 != null)
        var netSellingPrice4 = this.values.netSellingPrice4.replace(',', '.')
      if (this.values.netPurchasePrice4 != null)
        var netPurchasePrice4 = this.values.netPurchasePrice4.replace(',', '.')

      if (typeof netSellingPrice4 === 'number' &&
        typeof netPurchasePrice4 === 'number' &&
        netPurchasePrice4 !== 0) {
        this.total.multiplyingFactor = netSellingPrice4 / netPurchasePrice4
      } else {
        this.total.multiplyingFactor = null
      }
    },
    isNumber(evt) {
      evt = (evt) ? evt : window.event
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46 && charCode !== 44) {
        evt.preventDefault()
      } else {
        return true
      }
    }
  }
}
</script>
