<template>
    <div class="carte">
        <google-map />
    </div>
</template>

<script>
import GoogleMap from "../components/GoogleMap";

export default {
  name: "Carte",
  components: {
    'google-map': GoogleMap,
  }
};
</script>
