<template>
    <div class="newstore">
    
            <!-- <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p> -->
            <p></p>

            <p>
                <b-form-group for="name">Nom</b-form-group>
                <b-row class="text-center">
                    <b-col></b-col>
                    <b-col cols="8">
                        <b-form-input
                        id="name"
                        v-model="name"
                        placeholder="Entrer le nom de la Pharmacie"
                        type="text"
                        name="name"
                        />
                    </b-col>
                    <b-col></b-col>
                </b-row>
             </p>
            <p>
                <b-form-group for="addressNumberRoad">Numéro de rue</b-form-group>
                <b-row class="text-center">
                    <b-col></b-col>
                    <b-col cols="8">
                        <b-form-input
                        id="addressNumberRoad"
                        v-model="addressNumberRoad"
                        placeholder="Entrer le numéro de la rue"
                        type="number"
                        name="addressNumberRoad"
                        />
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </p>
            <p>
                <b-form-group for="addressRoadName">Rue</b-form-group>
                <b-row class="text-center">
                    <b-col></b-col>
                    <b-col cols="8">
                        <b-form-input
                        id="addressRoadName"
                        v-model="addressRoadName"
                        placeholder="Entrer le nom de rue"
                        type="text"
                        name="addressRoadName"
                        />
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </p>
            <p>
                <b-form-group for="addressPostalCode">Code Postal</b-form-group>
                <b-row class="text-center">
                    <b-col></b-col>
                    <b-col cols="8">
                        <b-form-input
                        id="addressPostalCode"
                        v-model="addressPostalCode"
                        placeholder="Entrer le code postal"
                        type="text"
                        name="addressPostalCode"
                        />
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </p>
            <p>
                <b-form-group for="addressCity">Ville</b-form-group>
                <b-row class="text-center">
                    <b-col></b-col>
                    <b-col cols="8">
                        <b-form-input
                        id="addressCity"
                        v-model="addressCity"
                        placeholder="Entrer le nom de la ville"
                        type="text"
                        name="addressCity"
                        />
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </p>
            <p>
                <b-button v-on:click="checkForm" variant="primary">Envoyer</b-button>
            </p>
    </div>
</template>


<script>
import { addDrugStore } from "../firestore";
import router from '../router';
import axios from 'axios';
import VueAxios from 'vue-axios'
import Vue from 'vue'

export default {
    data () {
        return {
            errors: [],
            name: null,
            addressNumberRoad: null,
            addressRoadName: null,
            addressPostalCode: null,
            addressCity: null
        }
    },
    // computed: {
    //   validation() {
    //     return this.name.length > 0 && this.name.length < 20
    //   }
    // },
    methods:{
        checkForm: function (e) {
        if (this.name && this.addressNumberRoad && this.addressRoadName && this.addressPostalCode && this.addressCity) {            
            var location = this.addressNumberRoad + ' ' + this.addressRoadName + ' ' + this.addressPostalCode + ' ' + this.addressCity;
            var adresse = this.addressNumberRoad + ' ' + this.addressRoadName;
            var nom = this.name;
            console.log(location);
            console.log(adresse);
            
            Vue.use(VueAxios, axios);

            this.axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                params:{
                address:location,
                key:'AIzaSyDgzDKhFSqBiWRErMwFqbBSYG2Xza8tvmI'
                }
            }).then(function(response){
                var latitude = response.data.results[0].geometry.location.lat;
                var longitude = response.data.results[0].geometry.location.lng;
                
                console.log(latitude);
                console.log(longitude);

                console.log("Avant bdd");
                console.log("Avant bdd");
                console.log("Avant bdd");
                addDrugStore(nom, adresse, latitude, longitude);
                console.log("Après bdd");
            })
            .catch(function(error){
                console.log(error);
            });

            router.push('/');
        }

        this.errors = [];

        if (!this.name) {
            this.errors.push('Le nom est nécessaire. ');
        }
        if (!this.addressNumberRoad) {
            this.errors.push('Le numéro de la rue est nécessaire. ');
        }
        if (!this.addressRoadName) {
            this.errors.push('Le nom de la rue est nécessaire. ');
        }
        if (!this.addressPostalCode) {
            this.errors.push('Le code postal est nécessaire. ');
        }
        if (!this.addressCity) {
            this.errors.push('La ville est nécessaire. ');
        }
        return true;
        e.preventDefault();
        }  
    }
}
</script>

<style>
    input,select {
    margin-left: 10px;
    }
</style>


