<template>
    <div :class="{'infowindow': true, 'hide': hide, 'slide-top': slidetop}">
        <h1>{{ titre }}</h1>
        <h2>{{ address }}</h2>
        <p>
            {{ text }}
        </p>
        <ul id="list-drugs" ref="list-drugs" v-bind:class="{ hidden: isHidden }">
            <h3>Médicaments proposés</h3>
            <li v-for="(d) in drugs" :key="d.id">{{ d.name }}</li>
            <!--h3>Formations proposées</h3>
            <li v-for="(d, index) in drugs">{{ d.name }}</li-->
        </ul>
        <button id="btn-infos" ref="btn-infos" v-on:click="showHideInfos">^ Informations complémentaires ^</button>
    </div>
</template>


<script>
export default {
    name: 'InfoWindowMobile',
    props:{
        hide: Boolean,
        'slidetop': Boolean,
        text: String,
        titre: String,
        address: String,
        drugs: Array
    },
    data(){
        return {
            infowindow: true,
            isHidden: true,
        }
    },
  methods: {
    showHideInfos: function (e) {
      if (this.isHidden) {
        this.isHidden = false
      } else {
        this.isHidden = true
      }
    }
  }
}
</script>


<style>

.infowindow {
    width: auto;
    height: auto;
    margin: 0 0 15px 15px;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.16), -2px 0px 3px rgba(0,0,0,0.16), 2px 0px 3px rgba(0,0,0,0.16);
}


ul {
    list-style: none;
    margin: 0 15px 5px 15px;
    padding: 0;
    max-height: 300px;
    overflow: auto;
    width: 90%;
}

h1 {
    font-size: 25px;
    color: #fff;
    background-color: #2c3e50;
    padding: 10px 100px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    z-index: 1000;
}

h2 {
    font-size: 20px;
    color: #2c3e50;
    padding: 5px;
    background-color: #eee;
    margin: 0 0 5px 0;
    z-index: 999;
}

h3 {
    font-size: 18px;
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: solid 1px;
}

#btn-infos {
    background-color: transparent;
    color: #2c3e50;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 15px;
    margin: 5px 0;
}

#btn-infos:hover {
    background-color: #2c3e50;
    color: #fff;
    transition: 0.3s;
}

p {
    font-size: 18px;
    width: 100%;
    margin: 10px 0;
}

ul li {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

ul li:last-child {
    border-bottom: transparent;
}

ul[class="hidden"] {
    display: none;
}

.hide{
    display: none;
}

.slide-top {
	-webkit-animation: slide-top 0.5s linear both;
	        animation: slide-top 0.5s linear both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
            transform: translateZ(160px) translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px);
            transform: translateZ(160px) translateY(-100px);
  }
}

@media(max-width: 1000px) {
    .infowindow {
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto 5px auto;
    }

    ul {
        max-height: 250px;
    }
}
</style>
