<template>
  <div id="app">
    <component :is="currentMenu" :right="side === 'right' ? true: false">
        <router-link to="/">
            <font-awesome-icon icon="map" style="color:white"/>
            <span>Carte</span>
        </router-link>
        <router-link to="/calculator">
            <font-awesome-icon icon="calculator" style="color:white"/>
            <span>Calculatrice</span>
        </router-link>
        <router-link to="/newstore">
            <font-awesome-icon icon="store" style="color:white"/>
            <span>Nouvelle Pharmacie</span>
        </router-link>
    </component>
    <router-view/>
  <main id="page-wrap">
  </main>
  </div>
</template>

<script>
  import slide from './components/Menu/slide';
  import Menu from './components/Menu';


  // Vue.config.productionTip = false

  export default {
      data() {
        return {
          menus: {
            slide: { buttonText: 'Slide' },
          },
          side: 'left',
          currentMenu: 'slide'
        };
      },
      components: {
        slide,
        Menu
      },
      methods: {
        changeMenu(menu) {
          this.currentMenu = menu.replace(/ +/g, '').toLowerCase();
          return this.currentMenu;
        },
        changeSide(side) {
          this.side = side;
        }
      }
    };
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 70px 0 0 0;
  margin: 0;
}
#nav {
  padding: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #EEE;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
